In [3]:
import pandas as pd

# Load the Excel file
excel_file_path = 'HOS Violations Report - Bikash.xlsx'
excel_data = pd.ExcelFile(excel_file_path)

# Initialize an empty list to hold the data frames
data_frames = []

# Iterate through each sheet in the Excel file
for i, sheet_name in enumerate(excel_data.sheet_names):
    print(f"Processing sheet {i+1}/{len(excel_data.sheet_names)}: {sheet_name}")
    
    # Read the data starting from row 8
    sheet_data = pd.read_excel(excel_file_path, sheet_name=sheet_name, header=7)
    
    # Add a new column with the driver's name
    sheet_data['Driver'] = sheet_name
    
    # Append the DataFrame to the list
    data_frames.append(sheet_data)

# Concatenate all DataFrames once at the end
merged_data = pd.concat(data_frames, ignore_index=True)

# Save the merged data to a new Excel file
output_file = 'merged_drivers_data.xlsx'
merged_data.to_excel(output_file, index=False)

print(f"Data has been merged and saved to '{output_file}'.")

Processing sheet 1/119: John Ndungu Kinyanjui
Processing sheet 2/119: Charles Muhindi
Processing sheet 3/119: Joshua Ndirangu Kiragu
Processing sheet 4/119: Daniel Ouru Ojwang
Processing sheet 5/119: Moses Ng'ang'a
Processing sheet 6/119: Maurice Okal Obonyo
Processing sheet 7/119: Joseph Owuor Wambura
Processing sheet 8/119: Duncan Thuo Mbugua
Processing sheet 9/119: Hesbon Ochieng Owino
Processing sheet 10/119: David Okiru Ongwenyi
Processing sheet 11/119: Euticas Gitau Njoroge
Processing sheet 12/119: Aggrey Opondo Otiato
Processing sheet 13/119: Josphat  Mashika Nyongesa
Processing sheet 14/119: Meshack Oyieko
Processing sheet 15/119: Haron Mhatia Mutuka
Processing sheet 16/119: Stanley Karanja Gachie
Processing sheet 17/119: Patrick Odhiambo Owira
Processing sheet 18/119: Evans Wamalwa Sifuna
Processing sheet 19/119: Samson Njuguna
Processing sheet 20/119: John Maina Muigai
Processing sheet 21/119: Charles Onyago Bondo
Processing sheet 22/119: Mark Ochieng Omung'i
Processing sheet 23/119: Evans Okoth
Processing sheet 24/119: Lameck Moseti Isoe.
Processing sheet 25/119: Patrick Mata
Processing sheet 26/119: Samuel Karanja
Processing sheet 27/119: Stephen Miringu Mbugua
Processing sheet 28/119: James Ndirangu Kabucho
Processing sheet 29/119: Anthony Ngunu Kinyua
Processing sheet 30/119: Patrick Njogu Mwangi
Processing sheet 31/119: Joseph Karanja Mwangi
Processing sheet 32/119: Nicholus Kimotho Murathe
Processing sheet 33/119: Peter Gichuhi Mwangi
Processing sheet 34/119: Christopher Werunga Khisa
Processing sheet 35/119: Kennedy Omondi Onyango
Processing sheet 36/119: Peter Otieno Miruka
Processing sheet 37/119: George Ochieng Ouko
Processing sheet 38/119: Geoffrey Odinga Odongo
Processing sheet 39/119: Victor Omondi Omoi
Processing sheet 40/119: Jackson Kariuki
Processing sheet 41/119: Nelson Chege Kariuki
Processing sheet 42/119: David Njoroge Mbugua
Processing sheet 43/119: Sammy Kigen
Processing sheet 44/119: Jospeh Owuour Jaramba
Processing sheet 45/119: Anthony Waweru Kiruka
Processing sheet 46/119: Elly Obuya Owinyo
Processing sheet 47/119: Ignatus Oduya
Processing sheet 48/119: Benson Olumbe Mumbasu
Processing sheet 49/119: Moses Mugo Muhia
Processing sheet 50/119: Alex Shikuku Musambali
Processing sheet 51/119: Wilson Njogu Wanjiru
Processing sheet 52/119: James Chege Muraya
Processing sheet 53/119: Stephen Ouma
Processing sheet 54/119: Johnston Nyongesa
Processing sheet 55/119: Johnson Kinuthia Kahagi
Processing sheet 56/119: Rasto Onyango Wamamba
Processing sheet 57/119: William Kuria Mwangi
Processing sheet 58/119: Anthony Kimemia Wanjuku
Processing sheet 59/119: Solomon Awayo Ogal
Processing sheet 60/119: Dishon Ing'ayo Okang'a
Processing sheet 61/119: Joseph Njenga Njoroge
Processing sheet 62/119: Benson Gacheru Ngure
Processing sheet 63/119: Moses Ayugi Juma
Processing sheet 64/119: Wilson Ondere
Processing sheet 65/119: Johana Thiong'o
Processing sheet 66/119: John Chibeli Sasaka.
Processing sheet 67/119: Stephen Mutuku Wambua
Processing sheet 68/119: Shadrack Madiaji
Processing sheet 69/119: James Mbogo Mwangi
Processing sheet 70/119: Josphat Maina
Processing sheet 71/119: Moses Wafula waswa
Processing sheet 72/119: Chrisantus Ogada Godo
Processing sheet 73/119: John  Kibocha Wachira
Processing sheet 74/119: Albert Mbunda Asiema
Processing sheet 75/119: Nicholas Otieno Omolo
Processing sheet 76/119: Arthur Kinyanjui Kuria.
Processing sheet 77/119: Joel Kipchuma Tanui
Processing sheet 78/119: Samuel Mburu
Processing sheet 79/119: Kennedy Ochieng Opiyo
Processing sheet 80/119: Zakariah Mungai Kirunyu
Processing sheet 81/119: Anthony Nganga Njiriri
Processing sheet 82/119: Erick Otieno Owaga
Processing sheet 83/119: JOHN NDERITU.
Processing sheet 84/119: Sammy Wachira
Processing sheet 85/119: Kevin Kimani
Processing sheet 86/119: John Mwaura Njoroge
Processing sheet 87/119: Paul  Chege Mwangi
Processing sheet 88/119: James  Njenga Kirangu
Processing sheet 89/119: Esau Mugono
Processing sheet 90/119: David Koiya Njuguna
Processing sheet 91/119: Mariko Otieno Odero
Processing sheet 92/119: Peter Muigai Nganga
Processing sheet 93/119: Michael Omondi Wanjere
Processing sheet 94/119: Daniel Kiruka Kamau
Processing sheet 95/119: Sospeter Kihonge
Processing sheet 96/119: Benson Njoroge Maina
Processing sheet 97/119: Anthony Muiruri Muchiri
Processing sheet 98/119: Vincent Kemboi Kiplagat
Processing sheet 99/119: Wilson Muma Ondere
Processing sheet 100/119: Peter Thiongo
Processing sheet 101/119: Martin Gichoya
Processing sheet 102/119: Frederick Were Shiunwa
Processing sheet 103/119: Douglas Obara Boge
Processing sheet 104/119: Nicholas Kirigwi Kimani
Processing sheet 105/119: James Odiwuor Otieno
Processing sheet 106/119: Lawrence Otieno Ochieng
Processing sheet 107/119: Francis Theuri Muthuita
Processing sheet 108/119: Joseph Nyongor Maina
Processing sheet 109/119: James Mwangi Kariuki
Processing sheet 110/119: Akava Jotham  Keya
Processing sheet 111/119: Julius Okoth Ogutu
Processing sheet 112/119: Paul waithaka maina
Processing sheet 113/119: Wanjala Fred Nalianya
Processing sheet 114/119: Henry Lungani Ernest
Processing sheet 115/119: Abubakari Buyila Makokha
Processing sheet 116/119: Michael Gachuru Munga
Processing sheet 117/119: John Wainaina Wanjiru
Processing sheet 118/119: Irine Aghato Walubengo
Processing sheet 119/119: JAMES N'GANG'A KAGUMU
Data has been merged and saved to 'merged_drivers_data.xlsx'.

In [1]:
import pandas as pd
import os

# Folder path containing Excel files
folder_path = 'Lafarge August HOS data'

# Initialize an empty list to store DataFrames
all_data = []

# Iterate through each Excel file in the folder
for file_name in os.listdir(folder_path):
    if file_name.endswith('.xlsx') or file_name.endswith('.xls'):
        file_path = os.path.join(folder_path, file_name)
        
        # Read all sheets in the Excel file
        xls = pd.ExcelFile(file_path)
        
        for sheet_name in xls.sheet_names:
            # Read data starting from the header row (row 8 in 0-indexed pandas is row 7)
            df = pd.read_excel(file_path, sheet_name=sheet_name, header=7)
            
            # Remove the last 5 rows (tail)
            df = df.iloc[:-5, :]
            
            # Add the driver column with the sheet name
            df['driver'] = sheet_name
            
            # Read the specific row (Row 6, 0-indexed is 5) to extract the site name
            site_info = pd.read_excel(file_path, sheet_name=sheet_name, header=None, nrows=6)
            # Extract the value from merged cell E to L in row 6
            site_full_text = site_info.iloc[5, 4]  # Column E in 0-index is column 4
            
            # Extract the site name after 'Controltech - '
            site_name = site_full_text.split('Controltech - ')[-1].strip() if 'Controltech - ' in site_full_text else site_full_text
            
            # Add the site name to the site column
            df['site'] = site_name
            
            # Append the cleaned DataFrame to the list
            all_data.append(df)

# Merge all DataFrames into one
merged_df = pd.concat(all_data, ignore_index=True)

# Export the merged DataFrame to a new Excel file
output_file = 'Merged_Lafarge_August_HOS_data.xlsx'
merged_df.to_excel(output_file, index=False)

print(f"Data merged and saved to {output_file}")

Data merged and saved to Merged_Lafarge_August_HOS_data.xlsx

In [3]:
df_cleaned = merged_df[merged_df['Start Date & Time'].notna() & (merged_df['Start Date & Time'].str.strip() != '')]
df_cleaned.head()

,Start Date & Time,Unnamed: 1,Unnamed: 2,End Date & Time,Unnamed: 4,Type,Unnamed: 6,Unnamed: 7,Driving Time in Violation (hh:mm:ss),Unnamed: 9,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Time In Violation (hh:mm:ss),Violation Limit,Regulation Reference,driver,site
0,01/08/2024 00:56:35,NaN,NaN,01/08/2024 06:34:10,NaN,Required Driving Break,NaN,NaN,00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,03:42:23,4:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities
1,10/08/2024 14:39:22,NaN,NaN,10/08/2024 14:53:22,NaN,Required Driving Break,NaN,NaN,00:00:00,NaN,...,NaN,NaN,NaN,NaN,NaN,00:14:00,4:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities
2,14/08/2024 13:32:49,NaN,NaN,14/08/2024 13:34:05,NaN,Weekly Rest,NaN,NaN,00:01:16,NaN,...,NaN,NaN,NaN,NaN,NaN,00:01:16,24:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities
3,15/08/2024 05:13:44,NaN,NaN,15/08/2024 05:16:49,NaN,Weekly Rest,NaN,NaN,00:03:05,NaN,...,NaN,NaN,NaN,NaN,NaN,00:04:21,24:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities
4,15/08/2024 05:25:51,NaN,NaN,15/08/2024 05:28:41,NaN,Weekly Rest,NaN,NaN,00:02:50,NaN,...,NaN,NaN,NaN,NaN,NaN,00:07:11,24:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities

In [4]:
df_cleaned.to_excel('cleaned_data.xlsx', index=False)

In [9]:
# Convert 'Start Date & Time' column to datetime format with dayfirst=True
df_cleaned['Start Date & Time'] = pd.to_datetime(df_cleaned['Start Date & Time'], dayfirst=True, errors='coerce')

# Extract the day of the month and create a new 'day' column
df_cleaned['day'] = df_cleaned['Start Date & Time'].dt.day
df_cleaned.head()

C:\Users\Paul\AppData\Local\Temp\ipykernel_1280\731486920.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Start Date & Time'] = pd.to_datetime(df_cleaned['Start Date & Time'], dayfirst=True, errors='coerce')
C:\Users\Paul\AppData\Local\Temp\ipykernel_1280\731486920.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['day'] = df_cleaned['Start Date & Time'].dt.day

,Start Date & Time,Unnamed: 1,Unnamed: 2,End Date & Time,Unnamed: 4,Type,Unnamed: 6,Unnamed: 7,Driving Time in Violation (hh:mm:ss),Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Time In Violation (hh:mm:ss),Violation Limit,Regulation Reference,driver,site,day
0,2024-08-01 00:56:35,NaN,NaN,01/08/2024 06:34:10,NaN,Required Driving Break,NaN,NaN,00:00:00,NaN,...,NaN,NaN,NaN,NaN,03:42:23,4:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities,1
1,2024-08-10 14:39:22,NaN,NaN,10/08/2024 14:53:22,NaN,Required Driving Break,NaN,NaN,00:00:00,NaN,...,NaN,NaN,NaN,NaN,00:14:00,4:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities,10
2,2024-08-14 13:32:49,NaN,NaN,14/08/2024 13:34:05,NaN,Weekly Rest,NaN,NaN,00:01:16,NaN,...,NaN,NaN,NaN,NaN,00:01:16,24:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities,14
3,2024-08-15 05:13:44,NaN,NaN,15/08/2024 05:16:49,NaN,Weekly Rest,NaN,NaN,00:03:05,NaN,...,NaN,NaN,NaN,NaN,00:04:21,24:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities,15
4,2024-08-15 05:25:51,NaN,NaN,15/08/2024 05:28:41,NaN,Weekly Rest,NaN,NaN,00:02:50,NaN,...,NaN,NaN,NaN,NaN,00:07:11,24:00,NaN,Eliud Tirop Maiyo,Africa Rail Opportunities,15

In [11]:
selected_columns =['Start Date & Time', 'day', 'End Date & Time', 'Type', 'Driving Time in Violation (hh:mm:ss)', 'Time In Violation (hh:mm:ss)', 'Violation Limit', 'driver', 'site']
df_cleaned = df_cleaned[selected_columns]
df_cleaned.head()

,Start Date & Time,day,End Date & Time,Type,Driving Time in Violation (hh:mm:ss),Time In Violation (hh:mm:ss),Violation Limit,driver,site
0,2024-08-01 00:56:35,1,01/08/2024 06:34:10,Required Driving Break,00:00:00,03:42:23,4:00,Eliud Tirop Maiyo,Africa Rail Opportunities
1,2024-08-10 14:39:22,10,10/08/2024 14:53:22,Required Driving Break,00:00:00,00:14:00,4:00,Eliud Tirop Maiyo,Africa Rail Opportunities
2,2024-08-14 13:32:49,14,14/08/2024 13:34:05,Weekly Rest,00:01:16,00:01:16,24:00,Eliud Tirop Maiyo,Africa Rail Opportunities
3,2024-08-15 05:13:44,15,15/08/2024 05:16:49,Weekly Rest,00:03:05,00:04:21,24:00,Eliud Tirop Maiyo,Africa Rail Opportunities
4,2024-08-15 05:25:51,15,15/08/2024 05:28:41,Weekly Rest,00:02:50,00:07:11,24:00,Eliud Tirop Maiyo,Africa Rail Opportunities

In [13]:
# Convert 'Time In Violation (hh:mm:ss)' to timedelta, then to hours, and round to one decimal place
df_cleaned['Time in Violation (hrs)'] = (
    pd.to_timedelta(df_cleaned['Time In Violation (hh:mm:ss)'])
    .dt.total_seconds() / 3600
).round(1)

# Display the DataFrame with the new column
df_cleaned.head()

C:\Users\Paul\AppData\Local\Temp\ipykernel_1280\4025289570.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Time in Violation (hrs)'] = (

,Start Date & Time,day,End Date & Time,Type,Driving Time in Violation (hh:mm:ss),Time In Violation (hh:mm:ss),Violation Limit,driver,site,Time in Violation (hrs)
0,2024-08-01 00:56:35,1,01/08/2024 06:34:10,Required Driving Break,00:00:00,03:42:23,4:00,Eliud Tirop Maiyo,Africa Rail Opportunities,3.7
1,2024-08-10 14:39:22,10,10/08/2024 14:53:22,Required Driving Break,00:00:00,00:14:00,4:00,Eliud Tirop Maiyo,Africa Rail Opportunities,0.2
2,2024-08-14 13:32:49,14,14/08/2024 13:34:05,Weekly Rest,00:01:16,00:01:16,24:00,Eliud Tirop Maiyo,Africa Rail Opportunities,0.0
3,2024-08-15 05:13:44,15,15/08/2024 05:16:49,Weekly Rest,00:03:05,00:04:21,24:00,Eliud Tirop Maiyo,Africa Rail Opportunities,0.1
4,2024-08-15 05:25:51,15,15/08/2024 05:28:41,Weekly Rest,00:02:50,00:07:11,24:00,Eliud Tirop Maiyo,Africa Rail Opportunities,0.1

In [23]:
import pandas as pd
from openpyxl import Workbook
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.utils.dataframe import dataframe_to_rows

# Create a new Excel workbook and select the active worksheet
wb = Workbook()
ws = wb.active

# Append DataFrame rows to the worksheet
for r_idx, row in enumerate(dataframe_to_rows(df_cleaned, index=False, header=True), 1):
    for c_idx, value in enumerate(row, 1):
        ws.cell(row=r_idx, column=c_idx, value=value)

# Create a table and add it to the worksheet
table = Table(displayName="Table1", ref=f"A1:{chr(65 + len(df_cleaned.columns) - 1)}{len(df_cleaned) + 1}")

# Add a TableStyleInfo to the table
style = TableStyleInfo(
    name="TableStyleMedium9",
    showFirstColumn=False,
    showLastColumn=False,
    showRowStripes=True,
    showColumnStripes=True
)
table.tableStyleInfo = style

# Add the table to the worksheet
ws.add_table(table)

# Save the workbook
wb.save("df_cleaned_table.xlsx")